<!doctype html>



<link href="css/mcleod-reset.css" rel="stylesheet">
<link href="css/main.css" rel="stylesheet">

<html>

<body>
  <header>



    <div class="title"> Backplate Mods</div>
    <div class="slogan">Take Your Game to the Next Level</div>
  </header>



<article>
  <form action="https://www.paypal.me/embulldogs99" name=f method="POST">
  Item:
  <script>
  var parser = document.createElement('a');
  document.write(parser.protocol); // => "http:"
      document.write(parser.port);     // => "3000"
      document.write(parser.hostname); // => "example.com"
      document.write(parser.pathname); // => "/pathname/"
      document.write(parser.search);   // => "?search=test"
      document.write(parser.hash);     // => "#hash"
      document.write(parser.host);     // => "example.com:3000"
  </script>



   <br>

  Price: $130   <br>
  Email: <input class="input" maxLength=100 size=15 input type="text" name=strain value=""> <br>
   <br>
<input class="input2" type=submit value="Place Order">
  </form>
<br>



</article>
</body>

</html>
